@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

table, th, td {
    margin-left: 110px;
    margin-top: 70px;
    border: 2px solid black;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
}
th, td {
    padding: 10px;
}

.container {
    margin-left: 20px;
}

.container_new {
    padding: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
